<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Note</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddNote()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doAddNote()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="noteData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Note</span>
          <input type="text" ng-model="noteData.note">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add Note</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
